*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#home{
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 8, 8);
}
html{
    scroll-behavior: smooth;
}
#skills{
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 8, 8);
}
#about{
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 8, 8);
    display: flex;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
    padding-top:30vh ;
}
#contact{
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 8, 8);
    display: flex;
}
.nav{
    position: relative;
    width: 80vw;
    height: 10vh;
    background-color: rgba(240, 248, 255, 0.826);
    position: fixed;
    left: 10vw;
    top: 6vh;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgb(35,201,121);
    transition: all 0.8s;
    cursor: pointer;
}
.first-nav{
     width: 80vw;
    height: 10vh;
     display: flex;
    justify-content: space-between;
    align-items: center; 
}
.nav-list-first{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.list-items{
   margin-left: 10px;
}
.nav-list-first a{
    text-decoration: none;
    color: white;
}
.left-nav{
margin-left: 30px;
font-size: 22px;
color: white;
}
.right-nav{
    margin-right: 30px;
    font-size: 17px;
}
#ham{
    position: absolute;
    right: 30px;
    display: none;
}
.nav-list-second{
    display: none;
}
.details{
    width: 40vw;
    color: white;
    margin-left: 10vw;
}
.left-main{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.line1{
    font-size: 40px;
}
.line1 span{
    color: rgb(30, 147, 28);
    font-size: 38px;
}
.line2 span{
    color: rgb(30, 147, 28);
    font-size: 38px;
}
.line3{
    font-size: 20px;
}
.right-main{
     width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
display: flex;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn{
   margin-top: 13px; 
   padding: 6px;
   font-size: 16px;
   border: 2px solid rgb(35,201,121);
   background:  rgb(35,201,121);
   border-radius: 6px;
   color: rgb(8,10,11);
   box-shadow: 2px 2px 10px rgb(35,201,121);
   cursor: pointer;
}
#btn:hover{
    background: none;
    color: rgb(35,201,121);
}
#logo{
    width: 150px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(35,201,121);
    transition:0.5s ;
    cursor: pointer;
}
#logo:hover{
    box-shadow:2px 2px 20px rgb(35,201,121) ;
}

.heading{
    width: 20vw;
    height: 10vh;
    color:rgb(35,201,121) ;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid rgba(39,38,38);
}
.about-details{
   width: 60vw;
   height: 50vh;
    border-left: 4px solid rgba(39,38,38);
overflow: hidden;
}
.box{
    width: 100%;
   height: 10vh;
   border-bottom: 4px solid rgba(39,38,38);
   display: flex;
   align-items: center;
   justify-content: start;
}
.key{
    color: rgb(215,51,119);
    margin-left: 2vw;
    font-size: 20px;
}
.value{
    color:rgb(35,201,121) ;
    margin-left: 2vw;
    font-size: 20px;
}
.seperate{
    width: 100vw;
    height: 1vh;
    background-color: rgba(17, 20, 23);
}
.up-skill{
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: start;
    justify-content: center;
}
.down-skill{
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.heading-skill{
 width: 20vw;
    height: 10vh;
    color:rgb(35,201,121) ;
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 5px solid rgba(39,38,38);
  margin-top: 10vw;
}
.c-progress{
    width: 70vw;
    height: 35vh;
    margin-top: 10vw;
      display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.prog{
    width: 180px;
    height: 180px;
  border-radius: 50%;
   border: 4px solid rgb(26,30,35);
   display: flex;
   align-items: center;
   justify-content: center;
   background-image:conic-gradient(rgb(35,201,121) 3.6deg,rgb(8,10,11) 0deg);

}
.inner-prog{
width: 170px;
    height: 170px;
  border-radius: 50%;
  background-color: rgb(38, 42, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(206, 24, 24);
}
.linear-prog{
    width: 60vw;
    height: 1vh;
    border:4px solid rgb(26,30,35) ;
    border-radius: 8px;
}
.inner-linear{
    background: rgb(35,201,121);
    width: 1vw;
    height: 100%;
     border-radius: 8px;
}
.skill-content{
    color:rgb(206, 24, 24) ;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-contact{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-contact{
    width: 50vw;
    height: 100vh;
    background-color:rgb(35,201,121) ;
    border-radius: 100px 0px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
}
.form{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.form input{
    padding: 6px;
    border-radius: 7px;
    background-color: rgb(44,45,45);
    border: 3px solid rgb(8,10,11);
    color: white;
    width: 80%;
}
.form input::placeholder{
color: white;
}
.form textarea{
    padding: 6px;
    border-radius: 7px;
    background-color: rgb(44,45,45);
    border: 3px solid rgb(8,10,11);
    color: white;
    width: 70%;
    height: 20vh;
}
.btn{
   padding: 6px;
    border-radius: 7px;
    background-color: rgb(44,45,45);
    border: 3px solid rgb(8,10,11);
    color: white;
    cursor: pointer; 
}
.btn:hover  {
    box-shadow: 2px 2px 10px blue;
}
.icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(35,201,121);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.icon:hover{
    background-color: rgb(9, 235, 126);
    box-shadow: 1px 1px 10px rgb(9, 235, 126);
}
.heading-contact{
    color: rgb(8,10,11);
    font-size: 5vw;
    padding-top: 10vw;
}
@media screen and (max-width:800px){
    .nav-list-first{
        display: none;
    }
    .left-nav{
        font-size: 19px;
    }
    #ham{
        display: block;
    }
    .active-nav{
        height: 50vh;
    }
    .second-nav{
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-list-second{
     list-style: none;
    
    
    }
    .nav-list-second a{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    .nav-list-second li{
        margin-top: 30px;
    }
    .active-nav-list-second{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
    }
    .details{
        width: 80vw;
        margin-top: 15vh;
    }
   main{
    flex-direction: column-reverse;
   }
   .left-main{
    width: 100vw;
    height: 50vh;
   }
   .right-main{
     width: 100vw;
    height: 50vh;
   }
   .line1{
    font-size: 6vw;
}
.line1 span{
    color: rgb(30, 147, 28);
    font-size: 7.5vw;
}
.line2 span{
    color: rgb(30, 147, 28);
    font-size: 7.5vw;
}
.line3{
    font-size: 5vw;
}

#logo{
    width: 40vw;
    margin-top: 43vh;
}
.heading{
    width: 30vw;
    font-size: 5.5vw;
    
}
.key{
    font-size: 3.5vw;
}
.value{
    font-size: 3,5vw;
}
.up-skill{
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.down-skill{
    margin-top: 25vh;
}
.c-progress{
    flex-direction: column;
}
.heading-skill{
    justify-content: center;
    font-size: 15vw;
    width: 15vw;
}
#skills{
    padding-top: 10vh;
    height: 170vh;
}
#contact{
    flex-direction: column-reverse;
}
.left-contact{
    width: 100vw;
    height: 50vh;
}
.right-contact{
    width: 100vw;
    height: 70vh;
    border-radius: 0px 0px 100px 100px;
}
.heading-contact{
    font-size: 10vh;
}
.email{
    margin-top:15px ;
}
.message{
    margin-top: 15px;
}
.btn{
    margin-top: 15px;
}
}
@media screen and (max-width:500px){
    #logo{
        width: 65vw;
    }
}

